@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    scroll-behavior: smooth;
}
body
{
    background: linear-gradient(#1e152c,#0E121B);
    overflow-x: hidden ;
    min-height: 100vh;
    
}
header
{
    font-size: 18px;
    position: absolute; 
    display: flex;
    justify-content: space-between;
    z-index: 100000;
}

#sec2{
    font-size: 110px;
    color: #786496;
}

#sec3{
    font-size: 110px;
    color: #786496;
}

header #ff{
    font-size: 18px;
    position: relative;
    left: 422px;
    display: flex;
    justify-content: space-between; 
    z-index: 100000;
    top: 57px;
}


 .logo
{
    color: rgba(255, 255, 255, 0.849);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;
    left: 99px;
    top: 60px;

}


section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
   
    z-index: 1000;
}

.foto{
    position: absolute;
    width: 403.93px;
    height: 450.03px;
    left: 445.54px;
    top: 250px;
    background-image: url(download.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    
}

.pb{
    position: absolute;
    width: 403.93px;
    height: 450.03px;
    left: 385.54px;
    top: 303px;
    background-image: url(download.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE */
    
}
 
 



header ul
{
    display: flex;
    font-size: 18px;
  
    align-items: center;
    position: relative;
    left: 12px;
    top: 27px;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #786496;
    
}

.ret{
    width: 277px;
    height: 80px;
    background-color: #1E1E1E;
    border-radius: 20px;
    position: absolute;
    left: 1545px;
    top: 800px;
}

.ret2{
    position: absolute;
    width: 147px;
    height: 33px;
    left: 1443px;
    top: 822px;
    background: #D0B5DD;
    border-radius: 15px;
}
.ret2 p{
    position: absolute;
    padding-left: 40px;
    padding-top: 5px;
    font-size: 19px;
}

.ico{
    position: absolute;
    width: 33px;
    height: 33px;
    left: 1629px;
    top: 824px;  
}

.ico2{
    position: absolute;
    width: 33px;
    height: 33px;
    left: 1691px;
    top: 824px;  
}
   
.ico3{
    position: absolute;
    width: 33px;
    height: 33px;
    left: 1750px;
    top: 824px;  
}

.p{
    position: absolute;
    width: 890.41px;
    height: 191.8px;
    left: 769.59px;
    top: 202px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 800;
    font-size: 125px;
    line-height: 152px;
    color: #FFFFFF;
    transform: matrix(0.93, 0, -0.43, 1, 0, 0);
}

/* .notification {
    position: relative;
    display: inline-block;
    max-width: 300px;
    font-family: 'Montserrat Alternates', sans-serif;  
    font-weight: bolder; 
    top: 379px;
    left: 967px;
    padding: 20px 15px;
    border-radius: 50px;
    background-color: #330d4d;
    color: #786496;
    font-size: 23px;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade 450s linear
    forwards;

}





@keyframes fade {
    5% {
        opacity: 1;
        visibility: visible  ;
        transform: translateY(0px);
    }
    98% {
        opacity: 1px;
        transform: translateY(0px);
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateY();
    }
}

@keyframes progress {
    to {
        margin-left: 0%;
        width: 94%;
        
    }
}
   

     */










.chackbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
    position: relative;
}

.chackbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    transition: 400ms ease-in-out 0s;
}


.chackbox .trace {
    width: 50px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.849);
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
   
}

.chackbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.chackbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.chackbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toogle {
    display: none;
}

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 0px 0px #15111b;
    z-index: 1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-itens ul {
    list-style-type: none;
}

.menu-itens ul li a {
    margin: 10px;
    color: rgba(255, 255, 255, 0.671);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

#toogle:checked+.chackbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toogle:checked+.chackbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toogle:checked+.chackbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toogle:checked+.chackbox {
    background-color: #424242;
}

#toogle:checked~.menu {
    box-shadow: 0px 0px 0px 100vmax #424242;
    z-index: 1;
}

#toogle:checked~.menu-itens {
    visibility: visible;
    opacity: 1;
}





